[submodule "BuildTool"]
	path = BuildTool
	url = https://github.com/Justpenz233/CPPReflection.git
[submodule "Engine/3rd/luisa-compute"]
	path = Engine/3rd/luisa-compute
	url = https://github.com/LuisaGroup/LuisaCompute.git
