[submodule "BuildTool"]
	path = Source/BuildTool
	url = https://github.com/Justpenz233/CPPReflection.git
[submodule "Engine/3rd/luisa-compute"]
	path = ThirdParty/luisa-compute
	url = https://github.com/LuisaGroup/LuisaCompute.git
[submodule "ThirdParty/libigl"]
	path = ThirdParty/libigl
	url = git@github.com:MechanEngine/libigl.git
[submodule "Source/Runtime/UI/imgui_toggle"]
	path = Source/Runtime/UI/imgui_toggle
	url = git@github.com:MechanEngine/imgui_toggle.git
